body {
    
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0px;
    padding: 0px;
    unicode-bidi: embed;
    

}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;


}
.collapse navbar-collapse{

  font-weight: normal;
}

 .container-fluid {
      padding-top: 30px;
      padding-bottom:30px;
      padding-left: 1000px;
  }
 
 
  
  
 
  .navbar-nav  li a {
      color: #27bec4 !important;
      

  }
.col-sm-4 {
  
text-align: justify-all;
}
  .col-sm-4 h3{
  	color:#27bec4;
  	font-weight: bold;
  	font-size: 25px;


  }

    p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .btn{
  	border-width: 500px;
    background:  #27bec4;
    color:#27bec4;
}
.glyphicon glyphicon-search {
	color:#27bec4;


}
.previous{
	border-radius: 0;
}
.jumbotron{
  height:500px;

}

/* Je sélectionne les <li> du menu horizontal */
/*ul#menu_horizental li { 
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */
/*text-align: center ;
text-decoration: none ;
float: right;


}

ul#menu_horizental {
list-style-type : none; /* Car sinon les puces se placent n'importe où */
/*float: right;
padding-right: 200px;
}
ul#menu_horizental li.bouton {
float : right;
border-right : 10px black; 
font-family: Arial;
font-size: 20px;
font-weight: bold;
display: block ;
margin-bottom: 50px ;

}
#menu_horizental li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #dfe7fa ;
  text-decoration: underline ;
}
#navigation img { 
padding :  15px;
width:100px;
height: 100px;
float: left;
}
 
#navigation
{
	float: left;
	border-width: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	padding:0px;
	color:teal;

}*/
/*      <script language="javascript" type="text/javascript">
        if (document.message ==='') && (document.clé === ''){
         window.alert( "Veuillez entrer votre message à crypter ");
        }
      </script>*/